{% load static %}

<!DOCTYPE html>
<html lang="en" data-textdirection="ltr">

<head>
    <meta charset="utf-8">
    <title>Professional Online Courses with Certificates (110% Job Guarantee) - EduBridge India</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/base.css' %}">

</head>

<body >
    <div class="container-fluid topp">
        <div class="zpx-9">
            <div class="d-xl-block d-lg-block d-md-block d-sm-none d-none">
                <div class="d-xl-flex d-lg-flex d-md-flex  flex-sm-row flex-row justify-content-center align-items-center">
                    <div class="topp-txt" style="font-size: 12px; font-weight:normal;margin-right:32px;">
                        <span class="pr-2"><img src="{% static 'homepage/images/star.svg' %}" alt="" width="23px" height="23px"></span>
                        <span style="padding-right: 24px;"> <b>Free</b> MasterClass with Experts from the Industry & EduBridge</span>
                        <span class="pr-2"><img src="{% static 'homepage/images/case.svg' %}" alt="" width="23px" height="23px"></span>
                        <b>Free</b> Job Consultation
                    </div>
                    <div>
                        <a class="mr-xl-4 mr-lg-4 mr-md-4 mr-sm-4"><button class="btn w-100 cursor text-nowrap bg-danger" style="color: white;">Book Now</button></a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <header class="header coupon-header" style="z-index:88888 !important;">
    <div class="container-fluid container-header px-0 courses-header search-page-header">
        <div class="wraper-div pt-2 pb-2 px-xl-0 px-lg-0 px-md-0 px-sm-3 px-3" style="border-bottom:1px solid #ced8e2">
            <nav class="navbar navbar-expand-md navbar-light ">
                <div class="container-fluid zpx-9">
                    <a class="navbar-brand mr-4 py-0 d-xl-block d-lg-block d-md-block d-none" href="#" style="margin-right: 1.5rem; margin-left: 5rem;">
                        <img src="{% static 'homepage/images/edu_top.png' %}" class="zimg-logo" alt="">
                    </a>
                    
                    <div class="collapse navbar-collapse ml-3 pl-2 d-xl-block d-lg-block d-md-block d-none" id="navbarsExample07" style="z-index:88888 !important;">
                        <ul class="navbar-nav w-100">
                            <div class="cd-dropdown-wrapper">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Explore Courses
                                      </button>
                                    <nav class="cd-dropdown mt-1">
                                        <ul class="cd-dropdown-content exploreCoursesData">
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <li class="nav-item w-100 pt-2 pl-0 d-none" style="z-index:88888 !important;">

                            </li>
                        </ul>

                        <div class="navbar-nav ml-auto" style="z-index:88888 !important;">
                                <a href="#" class="btn text-nowrap btn new-singup text-center w-100 cursor bg-danger" style="color: white;">Log In</a>
                                <span><button type="submit" class="btn text-nowrap btn new-singup text-center w-100 cursor d-none" onclick="location.href = '/register';">Sign Up</button></span>
                                                    </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>    
        <div id="carouselExampleControls" class="carousel slide carousel-dark" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'homepage/images/hm_bn1.png' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'homepage/images/hm_bn2.png' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'homepage/images/hm_bn3.png' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'homepage/images/hm_bn4.png' %}" class="d-block w-100" alt="...">
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

          <div class="row m-0 pt-3 flow-dpm d-flex justify-content-between align-items-center flex-wrap zpx-9" style="user-select: auto;">
            <div class="col-xl-3 col-lg-3 col-md-3 col-6 d-flex justify-content-start align-items-center pb-4" style="user-select: auto;">
                <div class="hb_img_div" style="user-select: auto;">
                    <img src="{% static 'homepage/images/handshake.png' %}" alt="Natural" style="user-select: auto;">
                </div>
                <div class="dpmflow-text pl-3" style="user-select: auto;">
                    <b style="user-select: auto;">110% Job Guarantee</b> <br style="user-select: auto;">
                    Programs
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-6 d-flex justify-content-start align-items-center pb-4" style="user-select: auto;">
                <div class="hb_img_div" style="user-select: auto;">
                    <img src="{% static 'homepage/images/manager.png' %}" alt="Natural" style="user-select: auto;">
                </div>
                <div class="dpmflow-text pl-3" style="user-select: auto;">
                    Dedicated <br style="user-select: auto;">
                    <b style="user-select: auto;">Placement Manager</b>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-6 d-flex justify-content-start align-items-center pb-4" style="user-select: auto;">
                <div class="hb_img_div" style="user-select: auto;">
                    <img src="{% static 'homepage/images/job-portal.png' %}" alt="Natural" style="user-select: auto;">
                </div>
                <div class="dpmflow-text pl-3" style="user-select: auto;">
                    Personalized <br style="user-select: auto;">
                    <b style="user-select: auto;">Job Portal</b>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-6 d-flex justify-content-start align-items-center pb-4" style="user-select: auto;">
                <div class="hb_img_div" style="user-select: auto;">
                    <img src="{% static 'homepage/images/recruiters.png' %}" alt="Natural" style="user-select: auto;">
                </div>
                <div class="dpmflow-text pl-3" style="user-select: auto;">
                    Courses co-created with<br style="user-select: auto;">
                    <b style="user-select: auto;">Recruiters</b>
                </div>
            </div>

        </div>

        
    </section>
</div>

<section class="container-fluid zpl9 zmy-md zpadr9" style="background-color: #fff;">
    <div class="container rpb-72" style="border-bottom: 1px solid #ced8e2;">
        <div class="row">
            <div class="col zslp-cont-py rpt48 rpb48">
                <div class="bd-example bd-example-tabs">
                    <div class="rpb48" style="padding-bottom: 48px; font-weight: 400; margin-top: 50px;">
                        <p class="zsl1_para text-center"><span id="skills">Learn skills that get you a job today!</span></p>
                    </div>
                    <div class="row px-sm-2 px-2">
                        <div class="col-lg-12">
                            <ul class="flex-nowrap nav nav-tabs border-0" id="myTab" role="tablist" style="min-height: 50px;">
                                    <li class="zbr0 nav-item mr-xl-3 mr-lg-3 mr-md-3 mr-3 mb-3" role="presentation">
                                        <a class="nav-link zybtn-light text-nowrap active" id="popular-tab" data-toggle="tab" href="#" role="tab" aria-controls="popular" aria-selected="false" title="Most Popular">Most Popular</a>
                                    </li>
                                    <li class="zbr0 nav-item mr-xl-3 mr-lg-3 mr-md-3 mr-3 mb-3" role="presentation">
                                        <a class="nav-link zybtn-light text-nowrap" id="job-guarantee-tab" data-toggle="tab" href="#" role="tab" aria-controls="jobguarantee" aria-selected="false" title="110% Job Guarantee">110% Job Guarantee</a>
                                    </li>
                                    <li class="zbr0 nav-item mr-xl-3 mr-lg-3 mr-md-3 mr-3 mb-3" role="presentation">
                                        <a class="nav-link zybtn-light text-nowrap" id="softwareandtech-tab" data-toggle="tab" href="#" role="tab" aria-controls="softwareandtech" aria-selected="false" title="Technology">Technology</a>
                                    </li>
                                    <li class="zbr0 nav-item mr-xl-3 mr-lg-3 mr-md-3 mr-3 mb-3" role="presentation">
                                        <a class="nav-link zybtn-light text-nowrap" id="finance-tab" data-toggle="tab" href="#" role="tab" aria-controls="finance" aria-selected="false" title="Finance & Accounting">Banking & Finance</a>
                                    </li>
                                    <li class="zbr0 nav-item mr-xl-3 mr-lg-3 mr-md-3 mr-3 mb-3" role="presentation">
                                        <a class="nav-link zybtn-light text-nowrap" id="marketing-tab" data-toggle="tab" href="#" role="tab" aria-controls="marketing" aria-selected="false" title="Marketing">Marketing</a>
                                    </li>
                                    <li class="zbr0 nav-item mr-xl-3 mr-lg-3 mr-md-3 mr-3 mb-3" role="presentation">
                                        <a class="nav-link zybtn-light text-nowrap" id="certification-tab" data-toggle="tab" href="#" role="tab" aria-controls="certification" aria-selected="false" title="Certification">Certification</a>
                                    </li>
                                    <li class="zbr0 nav-item mr-xl-3 mr-lg-3 mr-md-3 mr-3 mb-3" role="presentation">
                                        <a class="nav-link zybtn-light text-nowrap" id="free-tab" data-toggle="tab" href="#" role="tab" aria-controls="free" aria-selected="false" title="Free">Free</a>
                                    </li>
                                    <li class="zbr0 nav-item mr-xl-3 mr-lg-3 mr-md-3 mr-3 mb-3" role="presentation">
                                        <a class="nav-link zybtn-light text-nowrap" id="selfstudy-tab" data-toggle="tab" href="#" role="tab" aria-controls="selfstudy" aria-selected="false" title="Self Study">Self Study</a>
                                    </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        <div class="col">
                          <div class="card h-100">
                            <img src="https://s3.ap-south-1.amazonaws.com/cdn.edubridgeindia.com/images/courses/thumbnails/991.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Advanced Certification Program in Data Analyt...</h5>
                                <br>
                                <svg xmlns="https://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-1 feather feather-clock">
                                    <circle class="hour" cx="12" cy="12" r="10"></circle>
                                    <polyline class="hour" points="12 6 12 12 16 14"></polyline>
                                </svg> <span class="hour" >658 h remaining</span> <span class="hour" style="padding-left: 90px;">Technology</span>
                                <br>
                                <br>
                                <span style="display: inline;"> 
                                    <img src="{% static 'homepage/images/rating.png' %}" alt="" style="width:auto;">
                                    <span class="desc_text"><span class="bold">4.3</span> out of 5 by <span class="bold">4858</span> learners</span>
                                </span>
                                <hr>
                                <p class="price"> &#8377 54,000  
                                    <span style="font-weight: 490; color: black; padding-left: 80px;">FREE DEMO</span> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#2c3a46" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right-circle">
                                        <circle cx="12" cy="12" r="10"></circle>
                                        <polyline points="12 16 16 12 12 8"></polyline>
                                        <line x1="8" y1="12" x2="16" y2="12"></line>
                                    </svg>
                                </p>
                            </div>
                            <div class="card-footer">
                                <button class="btn enroll">Enroll now</button>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <img src="https://s3.ap-south-1.amazonaws.com/cdn.edubridgeindia.com/images/courses/thumbnails/992.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Advanced Certification Program in Java Full Stack...</h5>
                              <br>
                                <svg xmlns="https://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-1 feather feather-clock">
                                    <circle class="hour" cx="12" cy="12" r="10"></circle>
                                    <polyline class="hour" points="12 6 12 12 16 14"></polyline>
                                </svg> <span class="hour" >560 h remaining</span> <span class="hour" style="padding-left: 90px;">Technology</span>
                                <br>
                                <br>
                                <span style="display: inline;"> 
                                    <img src="{% static 'homepage/images/rating.png' %}" alt="" style="width:auto;">
                                    <span class="desc_text"><span class="bold">4</span> out of 5 by <span class="bold">4494</span> learners</span>
                                </span>
                                <hr>
                                <p class="price"> &#8377 54,000  
                                    <span style="font-weight: 490; color: black; padding-left: 80px;">FREE DEMO</span> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#2c3a46" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right-circle">
                                        <circle cx="12" cy="12" r="10"></circle>
                                        <polyline points="12 16 16 12 12 8"></polyline>
                                        <line x1="8" y1="12" x2="16" y2="12"></line>
                                    </svg>
                                </p>
                            </div>
                            <div class="card-footer">
                                <button class="btn enroll">Enroll now</button>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <img src="https://s3.ap-south-1.amazonaws.com/cdn.edubridgeindia.com/images/courses/thumbnails/964.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Certification Program in Investment Banking Op...</h5>
                              <br>
                                <svg xmlns="https://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-1 feather feather-clock">
                                    <circle class="hour" cx="12" cy="12" r="10"></circle>
                                    <polyline class="hour" points="12 6 12 12 16 14"></polyline>
                                </svg> <span class="hour" >250 h remaining</span> <span class="hour" style="padding-left: 90px;">Banking</span>
                                <br>
                                <br>
                                <span style="display: inline;"> 
                                    <img src="{% static 'homepage/images/rating.png' %}" alt="" style="width:auto;">
                                    <span class="desc_text"><span class="bold">4</span> out of 5 by <span class="bold">4315</span> learners</span>
                                </span>
                                <hr>
                                <p class="price"> &#8377 26,500  
                                    <span style="font-weight: 490; color: black; padding-left: 80px;">FREE DEMO</span> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#2c3a46" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right-circle">
                                        <circle cx="12" cy="12" r="10"></circle>
                                        <polyline points="12 16 16 12 12 8"></polyline>
                                        <line x1="8" y1="12" x2="16" y2="12"></line>
                                    </svg>
                                </p>
                            </div>
                            <div class="card-footer">
                              <button class="btn enroll">Enroll now</button>
                            </div>
                          </div>
                        </div>

                        <div class="col">
                            <div class="card h-100">
                              <img src="https://s3.ap-south-1.amazonaws.com/cdn.edubridgeindia.com/images/courses/thumbnails/981.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Post Graduate Certification Program in Business In...</h5>
                                <br>
                                <svg xmlns="https://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-1 feather feather-clock">
                                    <circle class="hour" cx="12" cy="12" r="10"></circle>
                                    <polyline class="hour" points="12 6 12 12 16 14"></polyline>
                                </svg> <span class="hour" >450 h remaining</span> <span class="hour" style="padding-left: 90px;">Technology</span>
                                <br>
                                <br>
                                <span style="display: inline;"> 
                                    <img src="{% static 'homepage/images/rating.png' %}" alt="" style="width:auto;">
                                    <span class="desc_text"><span class="bold">4.3</span> out of 5 by <span class="bold">4326</span> learners</span>
                                </span>
                                <hr>
                                <p class="price"> &#8377 35,000  
                                    <span style="font-weight: 490; color: black; padding-left: 80px;">FREE DEMO</span> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#2c3a46" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right-circle">
                                        <circle cx="12" cy="12" r="10"></circle>
                                        <polyline points="12 16 16 12 12 8"></polyline>
                                        <line x1="8" y1="12" x2="16" y2="12"></line>
                                    </svg>
                                </p>
                            </div>
                              <div class="card-footer">
                                <button class="btn enroll">Enroll now</button>
                              </div>
                            </div>
                          </div>

                    </div>
                    <br>
                    <br>
                    <div class="row d-flex justify-content-center w-100 px-3">
                        <button class="btn" id="explore-bottom">Explore All Courses</button>
                    </div>
                    <br>
                    <br>
                    <br>
</section>
<section class="small-rocketimg" style="background-color:#293353;">
    <div class="zty_bold" style="color: #fff; line-height:1.6; padding-top: 30px;">
        EduBridge is the one stop destination for all your career needs
    </div>
    <div class="text-center" style="color:#fff; font-size:20px; line-height:2.4">Invest in YOUR future. Accelerate YOUR career.</div>
    <div class="zty_bold" style="color:#c5ff00; line-height:1.6; text-transform:uppercase; font-weight:bold;">Get Trained. Get Hired. Our Guarantee.</div>
    <div class="zpx-9 position-relative">
        <div class="small-rocketimgtimeline" id="rocket">
            <div class="sml-timediv">
                <div>
                    <div class="direction-r">
                        <div class="flag-wrapper">
                            <div>
                                <img src="{% static 'homepage/images/call.png' %}" alt="Natural" />
                            </div>
                            <div class="desc">Speak to our Expert Career Coach - Choose the right course for you.</div>
                            <a data-toggle="modal" data-target="#reqCallbackModal">Request A Callback now</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="direction-l pt-4">
                        <div class="flag-wrapper">
                            <div>
                                <img src="{% static 'homepage/images/class.png' %}" alt="Natural" />
                            </div>
                            <div class="desc">Book a Free Master Class with an
                                experienced Master Trainer.</div>
                            <a data-toggle="modal" data-target="#livedemoModal">Book a Free Demo now</a>

                        </div>
                    </div>
                </div>
                <div>
                    <div class="direction-r">
                        <div class="flag-wrapper">
                            <div>
                                <img src="{% static 'homepage/images/consult.png' %}" alt="Natural" />
                            </div>
                            <div class="desc">Book a Free Placement Consultation with an experienced Placement Manager.</div>
                            <a data-toggle="modal" data-target="#livedemoModal">Book a Free Placement Consultation now</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="direction-l">
                        <div class="flag-wrapper">
                            <div>
                                <img src="{% static 'homepage/images/heart.png' %}" alt="Natural" />
                            </div>
                            <div class="desc text-left"><span class="cf-color">YOU</span> choose what <span class="cf-color">YOU</span> want <br></div>
                            <ul class="choose-wht ml-4" style="color: white; list-style:none; text-align: justify;">
                                <li>Choose a course of YOUR choice.</li>
                                <li>Make Your Own Schedule.</li>
                                <li>Pay What You Decide.</li>
                            </ul>
                            <a href="" style="margin-left: -40px;">Explore Courses that we offer</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="direction-r">
                        <div class="flag-wrapper">
                            <div>
                                <img src="{% static 'homepage/images/1learners.png' %}" alt="Natural" />
                            </div>
                            <div class="desc"><span class="cf-color">1:25 Learners. </span> <br>
                                Start your live classes by faculty with experience of more than 10+ years in the industry.</div>
                            <p style="color: white; font-style: italic; font-size: 13px;">Structured guidance ensuring learning never stops.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="arrow bounce">

            </div>
        </div>

    </div>
    <div class="mt-5 img-strip">
        <img src="/public/assets/images/gethired_bg.png" alt="">

    </div>
</section>

<section class=" container-fluid rpt48" style="background-color:#f6f8fa; margin-top: 30px;">
    <div class="mx-auto zptbsec">
        <div class="row justify-content-center zpx-9">
            <div class="col-md-12 text-center">
                <h2 class="zwhy text-center">
                    <span style="color: #e42255;">1,56,767+ </span>lives transformed and counting...
                </h2>
                <div class="font-25 px-xl-5 px-lg-5 px-md-5 px-4">
                    Listen to the EduBridge Learners <span style="color: #e42255;">who are inspiring everyone to learn </span>and <span style="color: #e42255;">have transformed their careers after learning with us.</span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center rpt48 rpb-72 d-xl-block d-lg-block d-md-block d-sm-none d-none" style="margin-top: 30px;">
            <div class="col-lg-12 text-center px-0">
                <div class="container">
                    <div id="carouselExampleIndicators" class="carousel rtbc-ind slide" data-ride="carousel">
                        
                        <div class="carousel-inner">
                            <div class="carousel-item  active" style="border-radius:10px;">
                                <div class="card zyncard d-flex   border-0 p-0 h-100 align-items-center">
                                    <div class="zpxcard-text card-body pb-0 mb-4">
                                        <div class="row">
                                            <div class="col-lg-4 pr-xl-5 pr-lg-5 pr-md-5 pr-0 d-flex justify-content-center align-items-center">
                                                <p class="pt-5">
                                                    <img src="{% static 'homepage/images/10lakh.jpg' %}" alt="" class="tes-pic" width="100%">
                                                </p>
                                            </div>
                                            <div class="col-lg-8 pt-5 px-5">
                                                <div class=" rnewht position-relative pb-xl-4 pb-lg-4 pb-md-4 pb-sm-4 pb-4">
                                                    EduBridge has trained me well! I am so grateful!
                                                </div>
                                                <div class="rmax-height">
                                                    <p class="zcp mb-2" style="text-align: left; ">Being the only child in her family, Anuradha realized that nothing comes easy in life. This was the reason that when she came across EduBridge's advertisement, she got herself enrolled in Java Full St..</p>
                                                    <a href="" class="morelink">Click here to read more</a>
                                                    <p class="pb-0 text-left title-std" style="text-align: left;">Anuradha Borpe </p>
                                                    <p class="tms_deg_ttl">Associate System Engineer</p>
                                                    <p class="tms_deg_ttl pb-2 pt-1">Annual Salary Offered: <b>INR 10 Lakhs</b></p>
                                                    <div class="d-flex justify-content-start align-items-center pt-1">
                                                        <div class="place-intext text-left">Placed in</div>
                                                        <div> <img src="{% static 'homepage/images/jp_morgan.png' %}" alt=""> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    

<!--Explore All Courses-->
<div class="zcta_sec zpx-9 container-fluid" style="background-color: #f6f8fa;">
    <div class="">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="ctaconthead mb-4">
                    <span style="color: #e42255; font-weight:bold; line-height:1.73;"> Start your learning journey </span> <br>
                    or <b>take up the guarantee of your job</b>, you can do both!
                </h2>
                <div class="font-40n mb-5">Your learning and your job is our <span style="color: #e42255; font-weight:bold;">#1 priority!</span></div>
                <div class="col text-center px-0">
                                            <button type="submit" class="btn zybtn">EXPLORE ALL COURSES</button>
                                    </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade hidden" id="mydiwali" tabindex="-1" style="z-index:99999999 !important; pointer-events: none;" aria-labelledby="exampleModalCenterTitle" aria-modal="true" role="dialog" style="display: block;">
    <div class="modal-dialog  modal-lg modal-dialog-centered p-0">
        <div class="modal-content w-100 h-100 mt-4">
            <div class="modal-header p-0">
                <button type="button" class="close rmclosebtn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" id="Geeks3" src="" allow="autoplay" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<!-- Modal -->
<div class="d-xl-none d-lg-none d-md-none d-sm-block d-block">
    <div class="modal fade" id="job-mpop" tabindex="-1" style="z-index:99999999 !important;" aria-labelledby="exampleModalCenterTitle1" aria-modal="true" role="dialog" style="display: block;" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header px-4">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0 position-relative">
                    <img src="/public/assets/images/popup_fmstrclass_pic.png" data-toggle="modal" data-target="#livedemoModal" class="w-100" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer zpx-9  bg-white">
    <div class="page-footer-container d-flex w-100 justify-content-space-start flex-wrap  rpb-72 rpt-72">
        <div class=" pt-3 text-center pr-xl-5 pr-lg-5 pr-md-5 pr-0" style="padding-right:0px;">
            <a class="zfheadlogo text-uppercase pl-0" href="/">
                <span><img src="{% static 'homepage/images/edu.png' %}" class="img-fluid zimg-logo" alt=""></span>
            </a>
            <p style="font-size: 14px; color: #fff; line-height:21px; margin-top:16px;">Building Tomorrow's Workforce</p>
        </div>
        <div>
            <div class="row m-0">
                <div class="col-xl-2 col-lg-2 col-md-2 col-3 pt-2 order-1">
                    <h5 class="zfheadlink text-uppercase mb-2 pt-xl-0 pt-lg-0 pt-md-0 pt-3">About US</h5>
                    <ul class="zlnkf list-unstyled">
                        <li><a href="/our-company" style="color:#fff !important">Our Company</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-5 pt-2 order-2">
                    <h5 class="zfheadlink text-uppercase mb-2 pt-xl-0 pt-lg-0 pt-md-0 pt-3">SERVICES</h5>
                    <ul class="zlnkf list-unstyled">
                        <li> <a href="" style="color:#fff !important">ECA-Blended Training</a>
                        </li>
                        <li> <a href="" style="color:#fff !important">EOn-Online Training</a>
                        </li>
                        <li> <a href="" style="color:#fff !important">Placement Services</a>
                        </li>
                        <li> <a href="" style="color:#fff !important">GuruSchool</a>
                        </li>
                        <li> <a href="" style="color:#fff !important">AWS re/start</a>
                        <li> <a href="" style="color:#fff !important">Samagra Shiksha Abhiyan (CSS for VSHSE)</a>
                        </li>
                       
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-6 pt-2 order-4 order-xl-3 order-lg-3 order-sm-3">
                    <h5 class="zfheadlink text-uppercase mb-2">Contact Us</h5>
                    <ul class="zlnkf list-unstyled nowrap">
                        <li><a><span style="padding-right: 5px;"><svg xmlns="https://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" style="color:#a0aeba;" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone mr-3">
                                        <path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z" />
                                    </svg></span>1800 120 1193</a>
                        </li>
                        <li><a href="mailto:wecare@edubridgeindia.in" style="color: white;"><span style="padding-right: 5px;"><svg xmlns="https://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" style="color:#a0aeba;" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail mr-3">
                                        <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z" />
                                        <polyline points="22,6 12,13 2,6" />
                                    </svg></span>wecare@edubridgeindia</a>
                        </li>
                    </ul>
                </div>

                <div class="col-xl-2 col-lg-2 col-md-2 col-3 pt-2 order-xl-4 order-lg-4 order-sm-4 order-3">
                    <h5 class="zfheadlink text-uppercase mb-2 pt-xl-0 pt-lg-0 pt-md-0 pt-3">MORE</h5>
                    <ul class="zlnkf list-unstyled nowrap">
                        <li><a href="" style="color:#fff !important">Refer and Earn</a></li>

                        <li><a href="" style="color:#fff !important">Hire From Us</a>
                        </li>
                        <li><a href="" style="color:#fff !important">Help Center</a>
                        </li>
                        <li><a href="" style="color:#fff !important">Security Center</a>
                        </li>
                        <li><a href="" target="_blank" style="color:#fff !important">Blog</a>
                        </li>
                        <li><a href="" class="zcopyright" target="_blank" style="color:#fff !important;">Terms and Conditions</a>
                        </li>
                        <li><a href="" class="zcopyright" target="_blank" style="color:#fff !important; display:none;">Privacy Policy</a>
                        </li>

                    </ul>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-6 pt-2 order-5">
                    <h5 class="zfheadlink text-uppercase">FOLLOW US</h5>
                    <ul class="services-link mb-0 d-flex flex-column align-items-center nowrap">
                        <div class="d-flex">
                            <li>
                                <a href="https://www.linkedin.com/company/edubridgelearning" target="_blank" class="in-pic">
                                    <img src="{% static 'homepage/images/in.png' %}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/Edubridgelearning/" target="_blank" class="fb-pic">
                                    <img src="{% static 'homepage/images/fb.png' %}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/EduBridgelearn" target="_blank" class="twitter-pic">
                                    <img src="{% static 'homepage/images/twitter.png' %}" alt="">
                                </a>
                            </li>
                        </div>
                        <div class="d-flex">
                            <li>
                                <a href="https://www.instagram.com/edubridgelearn/" target="_blank" class="insta-pic">
                                    <img src="{% static 'homepage/images/insta.png' %}" alt="" height="24px" width="24px">
                                </a>
                            </li>
                            <li>
                                <a href="https://shorturl.at/aexR7" target="_blank" class="yotube-pic">
                                    <img src="{% static 'homepage/images/tube.png' %}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.naukri.com/edubridge-learning-pvt-ltd-jobs-careers-978372" target="_blank" class="naukari-pic">
                                    <img src="{% static 'homepage/images/naukari.png' %}" alt="">
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid rpb-72 text-white" style="border-top:1px solid #ffffff1a;">
        <div class="zcopyright d-flex justify-content-between py-4">
            <div class="zcopyright pr-4" style="line-height: 1.9;">Copyright &copy; 2022 EduBridge Learning Pvt Ltd. All rights reserved. <br>EBSC Technologies Pvt. Ltd.
                <span class="hidden">Version:&nbsp;3.0</span>
            </div>
            <div class="hidden d-none">
                <a href="/terms-and-conditions" class="zcopyright" target="_blank" style="text-decoration: none;"> Privacy Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/terms-and-conditions" class="zcopyright" target="_blank" style="text-decoration: none;"> Terms and Conditions</a>
            </div>
        </div>
    </div>
</section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>